@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
//font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400i,600,700,700i&display=swap');
//font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');
// font-family: 'Nanum Gothic', sans-serif;

.wrapper{
    // max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .flex{
       // border: 1px solid #000;
    }
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }

    .section1{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: #111111;
        justify-content: space-between;
        min-height: 140px;

        p{
            font-size: 24px;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            padding-left: 50px;
            display: flex;
            align-items: center;
            

        }
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .last{
                padding-right: 70px;
            }
        
            a{
                text-decoration: none;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                color: #ffffff;
                padding: 15px;
            }
        }
        .line{
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 3px;
            background-color: #111111;

            .lineLeft{
                background-color: #292929;
                width: 30px;
                height: 3px;
                
            }
            .lineRight{
                background-color: #fcac45;
                width: 30px;
                height: 3px;
            }
        }
    }

    .section2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        background-color: #111111;
        height: 560px;
        padding-bottom: 90px;

        .text_top{
            font-size: 44px;
            color: #999999;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            margin-top: 165px;
            line-height: 60px;
            margin-bottom: 0;
            b{
                color: #fcac45;
            }
        }

        .text_bottom{
            margin: 0;
            color: #c3c3c3;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            b{
                font-weight: bold;
            }
        }

        .go-to-bottom{
            width: 50px;
            height: 50px;
            background: url(jpg/cрелочка.png);
            margin-top: auto;         
        }
    }

    .section3{
        flex-basis: 100%;
        min-height: 615px;
        background-color: #ffffff;
        background: url(jpg/Mac.png) no-repeat 10% 100%;
        padding-left: 56%;

        .one{
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 26px;
            color: #ff4b5a;
            margin: 15px 0 14px;
        }
        .two{
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 26px;
            color: #4d5866;
            line-height: 33px;
        }
        .three{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #6c6c6c;
            line-height: 23px;
            margin-left: 27px;
        }
        .four{
            font-family:  'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 33px;
            color: #5a5a5a;
            margin-top: 35px;
            font-weight: 300;
            margin-left: 27px;
        }
        b{
            background: url(jpg/Точка.png) no-repeat left;
            padding-left: 25px;
        }
        .work{
            border: 1px solid #7f7f7f;
            width: 192px;
            height: 45px;
            border-radius: 3px;
            margin-left: 27px;
            margin-top: 47px;
        
        a{
            font-size: 12px;
            text-decoration: none;    
            font-family:  'Open Sans', sans-serif;
            font-weight: 300;
            color: #616161;
            line-height: 45px;
            background: url(jpg/рюкзак.png)no-repeat left;
            margin-left: 22px;
            padding-left: 23px;
            }
        }
    }

    .section4{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-between;
        padding: 0 55px 0;
        background-color: #070707;

        .title{
            flex-basis: 100%;
            text-align: center;
            font-size: 44px;
            font-family:  'Open Sans';
            margin: 100px 0 20px;
            color: #ffffff;
            p{
                margin: 0;
                font-weight: 300;
            }
        }
        .two_line{
            flex-basis: 100%;
            height: 40px;
            background: url(jpg/TwoYellowLines.png)no-repeat center;
        }
        .content{
            text-align: center;
    
        }
        .circle{
            justify-content: center;
            margin-left: 64px;
            margin-top: 85px;
            margin-bottom: 20px;
            width: 127px;
            height: 127px;
            border-radius: 50%;
            background: #d7d7d7;
        }
        .text{
            font-family:  'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
        }
        .text2{
            font-family:  'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 16px;
            margin-top: 7px;
            margin-bottom: 25px;
            color: #ffffff;
        }
        .text3{
            font-family:  'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 23px;
            color: #ffffff;
        }
        .footer{
            display: flex;
            flex-basis: 100%;
            height: 160px;
            align-items: center;
            justify-content: center;
            .left{
                width: 9px;
                height: 9px;
                background-color: #fcac45;
                margin: 7px;
            }
            .center{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 7px;
            }
            .right{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 7px;
            }
        }

        
    }

    .section5{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-between;
        padding: 0 40px 100px 40px;

        .title{
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            font-size: 44px;
            margin: 100px 0 30px;
            color: #222222;
            text-align: center;
        }
        .line{
            width: 100%;
            height: 20px;
            background: url(jpg/SecondTwoYellowLines.png)no-repeat center;
        }
        em{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #6c6c6c;
            text-align: center;
            margin-top: 42px;
        }
        .content{
            text-align: center;
        }
        .circle1{
            width: 125px;
            height: 125px;
            border: 6px solid #fcac45;
            border-radius: 50%;
            background: url(jpg/ЯрлыкКомп.png) no-repeat center;
            margin-left: 55px;
            margin-top: 100px;
        }
        .circle2{
            width: 125px;
            height: 125px;
            border: 6px solid #fcac45;
            border-radius: 50%;
            background: url(jpg/ЯрлыкТЕЛЕФОН.png) no-repeat center;
            margin-left: 55px;
            margin-top: 100px;
        }
        .circle3{
            width: 125px;
            height: 125px;
            border: 6px solid #fcac45;
            border-radius: 50%;
            background: url(jpg/ЯрлыкФото.png) no-repeat center;
            margin-left: 55px;
            margin-top: 100px;
        }
        .circle4{
            width: 125px;
            height: 125px;
            border: 6px solid #fcac45;
            border-radius: 50%;
            background: url(jpg/ЯрлыкМегафон.png) no-repeat center;
            margin-left: 55px;
            margin-top: 100px;
        }
        .text{
            font-family: 'Open Sans', sans-serif;
            font-weight:bold;
            font-size: 25px;
            margin: 29px 0 20px;
            color: #222222;
        }
        .text2{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
            color: #595959;
        }
    }

    .section6{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
        background: #0b0b0b;

        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 44px;
            margin: 100px 0 28px;
            color: #fff;
        }
        .line{
            width: 100%;
            height: 29px;
            background: url(jpg/TwoYellowLines.png)no-repeat center;
        }
        .pictures{
            width: 100%;
            height: 225px;
            background: url(jpg/ТорговыеМарки.png)no-repeat center;
        }
        .footer{
            display: flex;
            flex-basis: 100%;
            height: 111px;
            align-items: flex-start;
            justify-content: center;
            .left{
                width: 9px;
                height: 9px;
                background-color: #fcac45;
                margin: 7px;
            }
            .center{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 7px;
            }
            .right{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 7px;
            }
        }
    }

    .section7{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
        padding: 0 50px 45px 50px;

        .title{
            flex-basis: 100%;
            .title1{
            text-align: center;
            font-size: 44px;
            font-family: 'Open Sans', sans-serif;
            margin: 95px 0 25px;
            }
            .emm{
            flex-basis: 100%;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #797979;
            text-align: center;
            margin-top: 42px;
            }
        }
        
        .line{
            width: 100%;
            height: 20px;
            background: url(jpg/SecondTwoYellowLines.png)no-repeat center;
        }
        
        .text{
            display: flex;
            flex-basis: 100%;
            justify-content: space-between;
            margin-top: 115px;
            p{
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 18px;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                li{
                    margin-left: 15px;
                    .All{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: bold;
                    }
                }
                a{
                    text-decoration: none;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    color: #6c6c6c;
                }
            }
        }
    }

    .section8{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 50px 100px 50px;

        .top{
            width: 263px;
            height: 237px;
            background: url(jpg/Грид1.png)no-repeat center;
            margin-bottom: 30px;
        }
        .center{
            width: 263px;
            height: 237px;
            background: url(jpg/Грид2.png)no-repeat center;
            margin-bottom: 30px;
        }
        .bottom{
            width: 263px;
            height: 237px;
            background: url(jpg/Грид3.png)no-repeat center;
        }
        .plus{
            width: 263px;
            height: 237px;
            margin-bottom: 30px;
            background: url(jpg/Plas.png)no-repeat 50% 75%;
            background-color: #222222;
           
            .title{
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                color: #ffffff;
                margin-top: 65px;
                margin-bottom: 15px;
            }
            .mintitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                color: #787878;
                margin: 0;
            }
        }
    }

    .section9{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #0b0b0b;

        .title{
            flex-basis:100;
            font-size: 44px;
            margin-top: 95px;
            margin-bottom: 25px;
            font-family: 'Open Sans', sans-serif;
            color: #ffffff;
        }
        .line{
            flex-basis: 100%;
            height: 29px;
            background: url(jpg/TwoYellowLines.png)no-repeat center;
        }
        .texttwo{
            flex-basis: 100%;
            font-size: 18px;
            line-height: 24px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-align: center;
            margin: 100px 0 50px;
            color: #e8e8e8;

            p{
                margin: 0;
            }
        }
        .textbott{
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 18px;
            color: #b2b2b2;
        }
        .footer{
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: center;
            .left{
                width: 9px;
                height: 9px;
                background-color: #fcac45;
                margin: 60px 7px 100px;
                
            }
            .center{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 60px 7px 100px;;
            }
            .right{
                width: 9px;
                height: 9px;
                background-color: #fff;
                margin: 60px 7px 100px;;
            }
        }

    }

    .section10{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 227px 30px;

        p{
            flex-basis:100%;
            font-size: 44px;
            margin-top: 95px;
            margin-bottom: 25px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color: #222222;
        }
        .line{
            flex-basis: 100%;
            height: 29px;
            background: url(jpg/TwoYellowLines.png)no-repeat center;
        }
        em{
            flex-basis: 100%;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #797979;
            text-align: center;
            margin-top: 42px;
        }
        .form{
            flex-basis: 748px;
            display: flex;
            justify-content: space-between;
            margin-top: 95px;
            input{
                width: 360px;
                height: 40px;
                margin: 0 14px;
            }
            label{
                margin-left: 15px;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                line-height: 24px;
                color: #7e7e7e;
            }
            em{
                color: #db0000;
            }
        }
        .message{
            flex-basis: 750px;
            margin-top: 50px;
            input{
                width: 750px;
                height: 163px;
            }
            label{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                line-height: 24px;
                color: #7e7e7e;
            }
            em{
                color: #db0000;
            }
        }
    }

    .section11{
        flex-basis: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 295px 100px 244px;
            
            a{
                width: 165px;
                background: #fcac45;
                text-decoration: none;
                text-align: center;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                line-height: 24px;
                color: #fee3c1;
                padding: 8px 0 8px;
                
            }
        
        
    }

    .section12{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 48px;
        background-color: #222222;
        

        .text{
            
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            color: #a0a0a0;
            text-align: center;
            padding: 44px 0 44px;
        }
        .logo{
            flex-basis: 50%;
            background: url(jpg/соцсети.png)no-repeat right;
        }
       
    }
}



@media (max-width: 768px){
    .wrapper{
        width: 768px;
        flex-basis: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        
        .section1{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            p{
                flex-basis: 100%;
                padding: 0;
                justify-content: center;
                margin-bottom: 5px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 900;
                font-size: 44px;
            }
            li.last{
                padding: 0;
            }

            .line{
                margin: 10px;
            }
        }

        .section2{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            height: 400px;

            p.text_top{
                margin-top: 80px;
            }
            p.text_bottom{
                text-align: center;
            }
            a.go-to-bottom{
                margin: 0;
                margin-top: auto;
            }
        }
        .section3{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            padding-left: 270px;;
            background: url(jpg/RightMac.png)no-repeat left;
            height: 500px;
            p.one{
                margin-top: 15px;
            }
            p.three{
                margin: 0;
            }
            .work{
                margin: 30px;
            }
        }

        .section4{
            padding: 0 75px;
        }
        
        .section6{
            .pictures{
          background: url(jpg/ТорговыеМарки2.png)no-repeat center;
             }
        }

        .section8{
            .bottom{
                margin-bottom: 30px;
            }
        }

        .section10{
            padding: 0;
        }   

        .section11{
            padding: 50px 295px 50px 244px;
        }

    }
}


@media (max-width: 320px){
    .wrapper{
        width: 320px;
        flex-basis: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    
        .section1{
            width: 320px;
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            p{
                justify-content: center;
                text-align: center;
            }
            ul{
                flex-direction: column;
                line-height: 24px;
                padding: 0;
            }
        }

        .section2{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            min-height: 400px;

            p.text_top{
                font-size: 28px;
                margin: 40px 5px 15px 5px;
                text-align: center;
            }
        }

        .section3{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background: #ffffff;
            height: 700px;
            p.one{
                margin-top: 15px;
                text-align: center;
            }
            p.two{
                margin: 15px 0 15px;
                line-height: 30px;
            }
            p.three{
                margin: 0;
            }
            p.four{
                margin: 15px 0 15px;
                font-size: 15px;
            }
            .work{
                margin: 15px;
            }
        }

        .section4{
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .circle{
                margin-top: 35px;
            }
        }

        .section5{
            p.title{
                margin-top: 50px;
            }
            .circle1{
                margin-top: 50px;
            }
            .circle2{
                margin-top: 50px;
            }
            .circle3{
                margin-top: 50px;
            }
            .circle4{
                margin-top: 50px;
            }
           
        }
        
        .section6{
            p{
                text-align: center;
                margin-top: 50px;
                font-size: 34px;
            }
            .pictures{
                height: 260px;
                background: url(jpg/Колонка_Лого.png)no-repeat center;
                padding: 15px 0 15px;
            }

        }
        
        .section7{
            display: flex;
            //flex-wrap: wrap;
            flex-basis: 100%;
            width: 320px;
            justify-content: center;
            padding: 5px;
            
            .title .title1{
                margin: 50px 0 20px;
                font-size: 34px;
            }
            .text{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0;
            } 
        }

        .section8{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
        }

        .section9{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
            .title{
                font-size: 34px;
                text-align: center;
                margin-top: 50px;
            }
            .footer{
                height: 80px;
            }
        }

        .section10{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
            width: 320px;
            p{
                margin-top: 50px;
            }
            .form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 40px;
                .name{
                    width: 300px;
                }
                .mail{
                    width: 300px;
                }
                label{
                    margin: 0;
                }
                input{
                    margin: 0;
                }
            }
            .message{
                width: 300px;
                margin-left: 5px;
            }

        }

        .section11{
            display: flex;
            justify-content: center;
            padding: 30px 0;
        
        }

        .section12{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5px;
            width: 320px;
            .text{
                padding: 20px 0 0;
                text-align: center;
            }
            .logo{
                width: 320px;
                height: 100px;
                flex-basis: 100%;
                background: url(jpg/соцсети.png)no-repeat center;
            }
        }

        
















    }
}